.big-product-card-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: Cuprum;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
         -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
  */
}
.popup-background {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #000000cb;
}

.big-product-card-wrapper .divshadow {
   
    opacity: 1;
    position: absolute;
    z-index: 102;
    background: #ffffff;
    border-radius: 1rem;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    padding: 10px 20px;
    display: flex;
}
.close {    
      width: 10px;
      height: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 9;
      border:0;
      background-image: url("../../../../public/login/x.svg");
      background-repeat: no-repeat;
      background-position: center;
}

.big-product-card-wrapper .left-item {
  
}

.big-product-card-wrapper .title {
  font-size: 1.8rem;
  margin: 1rem;
}

.big-product-card-wrapper .rating {
    display: flex;
    color: #000000;
    animation: elemScale 0.4s;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 1rem;
}
.rating .star {
        width: 9rem;
        height: 1.7rem;
        background-image: url('../../../../public/product_Card/Star.svg');
        background-size: contain;
        margin-right: 5px;

}

.big-product-card-wrapper .image {
  position: relative;
  width: 40rem;
  height: 40rem;
}

.tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;

        .tab_menu {
            margin: 0.5rem 0;
            width: 100%;
            /*padding: 5px;*/
            display: flex;
            justify-content: space-between; 
        
            .tab_container{
                width: 100%;
                margin: 1rem .5rem;
        
                button{
                    height: 4rem;
                    width: 100%;
                    border: 1px solid #000;
                    border-radius: 1rem;
                    background-color: #fff;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                button:focus{
                    box-shadow: 0px -3px 5px rgba(10, 60, 153, 0.581);
                   
                }
            }
}}
    

.big-product-card-wrapper .caption{
  width: 50rem;
  font-size: 1.8rem;
}

.big-product-card-wrapper .review {
  font-size: 1.8rem;
  width: 50rem;
}

.big-product-card-wrapper .desc {
  font-size: 1.8rem;
  margin: 1rem;
} 

.big-product-card-wrapper .cart-icon {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: #00000000;
    background-size: contain;
}

.add-cart {
    background-image: url('../../../../public/product_Card/add-to-cart.svg');
}

.remove-cart {
    background-image: url('../../../../public/product_Card/remove-from-cart.svg');
}

.big-product-card-wrapper .fav-icon {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: #00000000;
    background-size: contain;
}

.add-fav {
    background-image: url('../../../../public/product_Card/fav.svg');
}

.remove-fav {
    background-image: url('../../../../public/product_Card/unfav.svg');
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 1.000);
    animation-timing-function: cubic-bezier(0.215, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 1.000);
    animation-timing-function: cubic-bezier(0.215, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}
